node_modules/
dist/
*.tsbuildinfo
*.local
.env
.env.*
!.env.example
.DS_Store
*.log
.turbo
coverage/
.vite/
.firebase/
firebase/functions/api-app.mjs
firebase/functions/api-app.mjs.map
firebase/functions/lib/
firebase/functions/node_modules/
